.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .5;
  pointer-events: none;
  user-select: none;
}
.modal{
  position: relative;
  display: flex;
  width: 400px;
  z-index: 2;
  background: white;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  pointer-events: all;
  user-select: none;
}