.key {
  background: white;
  padding: 2px;
  margin: 2px;
  display: inline-flex;
  border: 1px solid;
  border-radius: 4px;
  width: 20px;
  height: 60px;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  text-transform: capitalize
}
.keyLabel{
  transform: rotate(90deg) translateX(30%);
  font-size: .75em;
  width: 25px;
}
.keyBlack {
  background: black;
  color: white;
  height: 40px;
}
.keyActive{
 & .keyLabel{
  background: rgba(blue, $alpha: 0.2);
 }
}
.keyButton{
  height: fit-content;
  background: whitesmoke;
  border: none;
  border-radius: 4px;
}
.keyboard{
  display: flex;
  flex-direction: row;
  margin: 10px;
  border: 2px solid #aaaaaa;
  border-radius: 5px;
}