.key {
  background: white;
  padding: 2px;
  margin: 2px;
  display: inline-flex;
  border: 1px solid;
  border-radius: 4px;
  width: 25px;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.keyBlack {
  background: black;
  color: white;
  height: 45px;
}
.keyActive{
  background: blue;
}
.keyButton{
  height: fit-content;
  background: whitesmoke;
  border: none;
  border-radius: 4px;
}
.keyColumn{
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}
.keyboard{
  display: flex;
  flex-direction: row;
}